<h1>Listado de Heroes</h1>
<hr />

<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary"
    [routerLink]="['/heroe/nuevo']">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>

<table class="table mt-3 animated mobble slow">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Vive</th>
      <th scope="col">Herramientas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger text-center mt-3">
  <h4 class="alert-heading">No hay registros</h4>
  <i class="fa fa-exclamation sync-alt fa-2x"></i>
</div>

<div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    <p class="mg-0">
      Espere por favor!
    </p>
  </div>
